<h1>Songs#show</h1>
<h3>Others who added <%=@song.artist%>'s <%=@song.title%></h3>
<table>
    <thead>
        <th>Name</th>
        <th>Times Added</th>
    </thead>
    <%@playlist.each do |d|%>
    <tbody>
        <td><a href="/users/<%=d.user.id%>"><%=d.user.name%></a></td>
        <td><%=@count.where(id: d.user.id).length%></td>
    </tbody>
    <%end%>
</table>
